.contact-box {
    display: flex;
    justify-content: center;
    background: var(--color-secondary-background);
    padding: 20px 10px;
    max-width: 100%;
}

.form-container {

}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 30px;
    margin-bottom:30px;
}

#contact-form>div {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    grid-gap: 20px;
}

#contact-form>div>div {
    display: flex;
    flex-direction: column;
}

#contact-form>div>div>input {
    max-width: 90%;
}

#contact-form>div>div>textarea {
    max-width: 90%;
    height: 300px;
}

#contact-form>div>div.submit-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 600px) {
    #contact-form {
        flex-direction: row;
        align-items: flex-start;
    }

    #contact-form>div>div.submit-info {
        flex-direction : row;
        
    }
}

