/* -------  ROOT VARIABLES  ------- */

:root {
  /* I'm sure there's more values I could assign to variables, but colours are the only "constants" I can think of at the moment. */

  --color-primary-background: #141c26;
  --color-secondary-background: #18283b;
  --color-primary: #60b1b8;
  --color-font-main: #fbffff;
  --color-links: #f63737;
  --color-input-border: #345885;
}

/* -------  GENERICS  ------- */

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-primary-background);
  color: var(--color-font-main);
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 10px;
}

/* -------  UNIVERSAL BITS  ------- */

.cta {
  background: var(--color-primary-background);
  border: 2px solid var(--color-primary);
  color: var(--color-font-main);
  width: 95px;
  border-radius: 8px;
  padding: 5px 15px;
  text-align: center;
  font-size: 1.15rem;
  font-family: "Futura", sans-serif;
  text-decoration: none;
  transition: 500ms;
}

.cta:hover {
  border-color: var(--color-font-main);
}

.cta::placeholder {
  font-size: 1rem;
  color: #cdd4d4;
  text-align: left;
  font-family: var(--font-body);
}

.purchase {
  border-color: #70c269;
}


.movie-poster {
  /* I might change this to images before I submit, I just wanted to see if and how I could represent the posters using only CSS
         I'm sure there's better ways to do it than my solution here. */

  background: white;
  color: black;
  width: 100px;
  height: 138px;
  font-family: var(--font-main-heading);
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

@media (min-width: 1024px) {
  .movie-poster {
    width: 115px;
    height: 153px;
  }
}

.movie-poster::after {
  /* I want this to appear outside the white box. */

  content: "Movie Poster";
  font-size: 0.8rem;
}

.poster-scroller {
  /* Not sure if I can finish this in time for submitting, I should find some other way to lay it out. Maybe grid-template-areas.
         It looks ok on the front page but once I started using it on the "main" page it all went a bit wonky. This is only a placeholder anyway, the way I would 
         like it is to be its own self contained scrolling area with a fixed width. */
  display: grid;
  grid-template-rows: repeat();
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.poster-scroller section {
  display: flex;
  flex-flow: row wrap;
  grid-gap: 15px;
  justify-content: center;
  align-items: center;
}

.poster-scroller .scroller-title {
  font-size: 1.3rem;
  font-family: var(--font-heading-secondary);
  color: var(--color-font-main);
  border-bottom: 2px dashed var(--color-links);
  width: fit-content;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  /* 768px is what my browser dev tools set as the breakpoint between mobile and tablet */

  .poster-scroller {
    grid-template-columns: repeat();
  }
  .poster-scroller,
  .poster-scroller section {
    justify-content: flex-start;
    justify-items: flex-start;
  }
}

.checkmark {
  /* I can't figure this one out */

  background: var(--color-primary-background);
}

.input {
  width: 250px;
  text-align: start;
  border: 2px solid var(--color-input-border);
}

/* -------  MAIN NAV  ------- */

.nav-main {
  display: flex;
  flex-flow: column;
  grid-gap: 10px;
  max-width: 100%;
  align-items: center;
  border-bottom: 2px solid var(--color-primary);
  padding: 0 5px 10px 5px;
  margin-bottom: 50px;
  position: relative;
}

#logo-nav {
  max-width: 80%;
  padding: 0;
  margin-bottom: 10px;
  justify-self: center;
}
#logo-nav img {
  max-width: 100%;
}

.nav-main ul {
  padding: 0;
}

.nav-main li {
  display: inline;
  list-style-type: none;
  margin-right: 10px;
}

.nav-main li a {
  color: var(--color-primary);
  text-decoration: none;
}

.nav-main li a:hover {
  color: var(--color-font-main);
}

.nav-main .active {
  color: var(--color-font-main);
}

.search {
  text-align: start;
  font-family: var(--font-body);

  width: 200px;
}

@media (min-width: 780px) {
  .nav-main {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    grid-gap: 20px;
    padding-bottom: 15px;
  }
  #logo-nav {
    width: 25%;
    margin-bottom: 0;
  }

  .nav-main #search {
    max-width: 16%;
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .nav-main a {
    font-size: 1.5rem;
  }

  .nav-main li {
    margin-right: 30px;
  }
}

/* -------  FOOTER  ------- */

footer {
  border-top: 2px solid var(--color-primary);
  padding-top: 10px;
  text-align: center;
  font-family: Futura, open-sans;
  font-size: 1.2rem;
}
