@import url("./styles.css");

.search-div {
    display:flex;
    flex-flow: column;
    align-items: flex-end;
}

.collection-page-links {
    display: flex;
    grid-gap: 7px;
}

.collection-page-links>a {
    text-decoration: none;
    color: var(--color-font-main);
    font-size: 1.2rem;
    font-family: futura;
}
.collection-page-links>a:hover {
    text-decoration: underline;
    color: var(--color-links);
}
a.active-collection-page {
    color: var(--color-links);
}


.result-table {
    display: flex;
    flex-flow: row wrap;
    grid-gap: 30px;
    align-items: baseline;
    justify-content: flex-start;
    max-width: 100%;
  }

.collection-item {
    max-width: 80%;
    height: 505px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    justify-content: space-around;
}

@media (min-width: 425px) {
    .collection-item {
        max-width: 45%;
    }
}

@media (min-width: 728px) {
    .collection-item {
        max-width: 30%;
    }
}

@media (min-width: 1440px) {
    .collection-item {
        max-width: 20%;
    }
}

@media (min-width: 1920px) {
    .collection-item {
        max-width: 15%;
    }
}

.collection-item>a>div {
    max-width: 100%;
}

img.collection-poster {
    max-width: 100%;
    overflow: hidden;
}

.collection-item-details {
    display: flex;
    background: green;
}

.disabled {
    text-decoration: line-through;
    visibility:hidden;
}

#film-poster {
    max-width: 80%;
}

.purchase-poster>img {
    max-width: 80%;
}

.index-list-item {
    max-width: 28%;
}

@media (min-width: 1024px) {
    .index-list-item {
        max-width: 30%;
    }
}
@media (min-width: 1440px) {
    .index-list-item {
        max-width: 25%;
    }
}


.index-list-item img {
    max-width: 100%;
}

.invalid {
    border-color: var(--color-links);
  }

.index-list-item>p {
    max-width: 80%;
}