@import url("./styles.css");

.search-div {
    display:flex;
    flex-flow: column;
    align-items: flex-end;
}

.result-table {
    display: flex;
    flex-flow: row wrap;
    grid-gap: 30px;
    align-items: baseline;
    justify-self: center;
    justify-content: space-evenly;
    max-width: 100%;
  }

.collection-item {
    max-width: 80%;
}

.collection-item>a>div {
    max-width: 100%;
}

img.collection-poster {
    max-width: 100%;
    overflow: hidden;
}

@media (min-width: 728px) {
    .collection-item {
        max-width: 30%;
    }
}

@media (min-width: 1440px) {
    .collection-item {
        max-width: 20%;
    }
}