/* -------  FONT IMPORTS  ------- */

@font-face {
  font-family: "Futura";
  src: url("./fonts/futura-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Futura medium italic";
  src: url("./fonts/Futura-MediumItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Futura Condensed ExtraBold";
  src: url("./fonts/Futura-CondensedExtraBold.ttf") format("truetype");
  font-weight: bold;
}

/* -------  ROOT VARIABLES  -------*/

:root {
  --primary-background-color: #141c26;
  --primary-color: #60b1b8;
  --main-font-color: #fbffff;
}

/* -------  TAG STYLES  ------- */

body {
  background: var(--primary-background-color);
  color: var(--main-font-color);
  font-family: "open sans", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

a {
  font-family: "Futura Medium Italic", sans-serif;
  font-size: 1.15rem;
  color: #f63737;
}

h2 {
  font-family: "Futura Condensed ExtraBold", sans-serif;
  font-size: 2.2rem;
}

h3 {
  font-family: "Futura Medium Italic", sans-serif;
  font-size: 1.8rem;
  color: var(--primary-color);
}

/* -------  UNIVERSAL UNIQUES  ------- */

#read-more {
  float: right;
  margin-right: 300px;
}

/* -------  NAV BAR  ------- */

nav {
  border-style: none none solid none;
  border-color: var(--primary-color);
  width: 100%;
  margin-left: 0px;
  display: inline-block;
  padding: 0px;
}

nav a {
  color: var(--primary-color);
  font-size: 1.4rem;
  text-decoration: none;
}
nav ul {
  margin-left: 5px;
  padding-left: 5px;
}

nav li {
  display: inline-block;
  margin-right: 50px;
  list-style-type: none;
}
nav #active {
  color: var(--main-font-color);
}

nav img {
  width: 240px;
  padding: 0px;
  margin-right: 50px;
  display: inline-block;
}

.nav-menu a:hover {
  color: var(--main-font-color);
  transition: 500ms;
}

#logo-item {
  margin-left: 0;
  margin-right: 60px;
}

#search-item {
}

#nav-search input {
  background: var(--primary-background-color);
  color: var(--primary-color);
  border-style: solid;
  border-color: var(--primary-color);
  border-radius: 7px;
  border-width: 2px;
  padding: 7px;
  transition: 500ms;
  margin-left: 130px;
}

#nav-search input:hover {
  border-color: var(--main-font-color);
}

#nav-search input:active {
  border-color: var(--main-font-color);
}

/* -------  FRONT PAGE STYLES ------- */

#frontpage-header img {
  width: 715px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
}

#frontpage-main-link {
  color: #f63737;
  font-size: 1.4rem;
  text-decoration: underline;
}

/* -------  MAIN PAGE STYLES ------- */

.main-content-block {
  width: 1818px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 10px;
}

.content {
  width: 600px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.main-content-block p {
  margin: 10px;
}
