/* -------  FONT IMPORTS  ------- */

@font-face {
  font-family: "Futura";
  src: url("./fonts/futura-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Futura medium italic";
  src: url("./fonts/Futura-MediumItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Futura Condensed ExtraBold";
  src: url("./fonts/Futura-CondensedExtraBold.ttf") format("truetype");
  font-weight: bold;
}

/* -------  ROOT VARIABLES  -------*/

:root {
  --color-primary-background: #141c26;
  --color-primary: #60b1b8;
  --color-font-main: #fbffff;
  --color-links: #f63737;
}

/* -------  GENERICS  ------- */

body {
  background: var(--color-primary-background);
  color: var(--color-font-main);
  font-family: "open sans", sans-serif;
  font-size: 1rem;
  display: grid;
  justify-content: center;
  width: 100%;
}

a {
  font-family: "Futura Medium Italic", sans-serif;
  font-size: 1.15rem;
  color: var(--color-links);
  text-decoration: underline;
}

h2 {
  font-family: "Futura Condensed ExtraBold", sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: "Futura Medium Italic", sans-serif;
  font-size: 1.8rem;
  color: var(--color-primary);
}

/* -------  UNIQUES  ------- */

.cta {
  background: var(--color-primary-background);
  border: 1px solid var(--color-primary);
  color: var(--color-font-main);
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;

  font-size: 1.15rem;
  font-family: "Futura medium italic", sans-serif;
}

.cta:hover {
  border-color: var(--color-font-main);
}

.cta::placeholder {
  font-size: 1rem;
  color: #fbffffa1;
  text-align: left;
  font-family: "open sans", sans-serif;
}

/* -------  FRONT PAGE  ------- */
