/* Attempting to create layout for minimum 320px screen, then adjusting for upscaling. Trying to think programmatically and
   creating reusable elements. Learning as I go so maybe some flexboxes should be grids or vice versa.
   Some sizes and positions can be wonky at certain screen sizes. 320px and 1440px are the optimal screen widths at the moment.
   This is the second time building the pages from the ground up so not going to mess too much more with it now, but we could well 
   see a third complete revision in the future.  */

/* -------  FONT IMPORTS  ------- */

@font-face {
  /* I've extracted these font files from a ttc pre-installed on my laptop. I only have a desktop licence to use Futura so I would need to find an alternative
     if this site were intended for anything other than school use. Or pay up. */

  font-family: "Futura";
  src: url("./fonts/futura-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Futura medium italic";
  src: url("./fonts/Futura-MediumItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Futura Condensed ExtraBold";
  src: url("./fonts/Futura-CondensedExtraBold.ttf") format("truetype");
  font-weight: bold;
}

/* -------  ROOT VARIABLES  ------- */

:root {
  --color-primary-background: #141c26;
  --color-secondary-background: #18283b;
  --color-primary: #60b1b8;
  --color-font-main: #fbffff;
  --color-links: #f63737;
}

/* -------  GENERICS  ------- */

body {
  background: var(--color-primary-background);
  color: var(--color-font-main);
  font-family: "open sans", sans-serif;
  font-size: 1rem;
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  font-family: "Futura Medium Italic", sans-serif;
  font-size: 1.15rem;
  color: var(--color-links);
  text-decoration: underline;
  transition: 500ms;
}

h2 {
  font-family: "Futura Condensed ExtraBold", sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: "Futura Medium Italic", sans-serif;
  font-size: 1.8rem;
  color: var(--color-primary);
}

img {
  margin: 0;
  padding: 0;
}

/* -------  UNIVERSAL BITS  ------- */

.cta {
  /* The XD prototype has button text in italics but I've changed my mind since then */

  background: var(--color-primary-background);
  border: 2px solid var(--color-primary);
  color: var(--color-font-main);
  border-radius: 8px;
  padding: 5px 15px;
  text-align: center;
  font-size: 1.15rem;
  font-family: "Futura", sans-serif;
  text-decoration: none;
  transition: 500ms;
}

.cta:hover {
  border-color: var(--color-font-main);
}

.cta::placeholder {
  font-size: 1rem;
  color: #cdd4d4;
  text-align: left;
  font-family: "open sans", sans-serif;
}

.purchase {
  border-color: var(--color-links);
}

.movie-poster {
  /* I might change this to images before I submit, I just wanted to see if and how I could represent the posters using only CSS
     I'm sure there's better ways to do it than my solution here. */

  background: white;
  color: black;
  width: 100px;
  height: 138px;
  font-family: "futura condensed extrabold", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  display: grid;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .movie-poster {
    width: 115px;
    height: 153px;
  }
}

.movie-poster::after {
  /* I want this to appear outside the white box. */

  content: "Movie Poster";
  font-size: 0.8rem;
}

.poster-scroller {
  /* Not sure if I can finish this in time for submitting, I should find some other way to lay it out. Maybe grid-template-areas.
     It looks ok on the front page but once I started using it on the "main" page it all went a bit wonky. This is only a placeholder anyway, the way I would 
     like it is to be its own self contained scrolling area with a fixed width.  */
  display: grid;
  grid-template-rows: repeat(auto);
  grid-gap: 5px;
  justify-items: center;
  max-width: 100%;
}

.poster-scroller section {
  display: flex;
  flex-flow: row wrap;
  grid-gap: 15px;
  justify-content: center;
}

.poster-scroller h3 {
  font-size: 1.3rem;
  color: var(--color-font-main);
  border-bottom: 2px dashed var(--color-links);
  width: fit-content;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  /* 768px is what my browser dev tools set as the breakpoint between mobile and tablet */

  .poster-scroller {
    grid-template-columns: repeat(auto);
  }
  .poster-scroller,
  .poster-scroller section {
    justify-content: flex-start;
    justify-items: flex-start;
  }
}

/* -------  MAIN NAV  ------- */

.nav-main {
  display: flex;
  flex-flow: column;
  max-width: 100%;
  align-items: center;
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 10px;
  margin-bottom: 50px;
  position: relative;
}

#logo-nav {
  max-width: 80%;
  padding: 0;
  margin-bottom: 10px;
  justify-self: center;
}
#logo-nav img {
  max-width: 100%;
}

.nav-main ul {
  padding: 0;
}

.nav-main li {
  display: inline;
  list-style-type: none;
  margin-right: 10px;
}

.nav-main li a {
  color: var(--color-primary);
  text-decoration: none;
}

.nav-main li a:hover {
  color: var(--color-font-main);
}

.nav-main .active {
  color: var(--color-font-main);
}

@media (min-width: 768px) {
  .nav-main {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    grid-gap: 20px;
    padding-bottom: 5px;
  }
  #logo-nav {
    width: 25%;
  }

  .nav-main #search {
    max-width: 16%;
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .nav-main a {
    font-size: 1.5rem;
  }

  .nav-main li {
    margin-right: 30px;
  }
}

/* -------  FOOTER  ------- */

footer {
  border-top: 2px solid var(--color-primary);
  padding-top: 10px;
  text-align: center;
  font-family: Futura, open-sans;
  font-size: 1.2rem;
}

/* -------  FRONT PAGE  ------- */

.frontpage-header {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  justify-self: center;
  justify-items: center;
  margin-top: 40px;
  margin-bottom: 80px;
  max-width: 100%;
}

#frontpage-logo {
  max-width: 100%;
}

.frontpage {
  display: grid;
  grid-template-rows: repeat(auto);
  max-width: 100%;
}

.frontpage h2 {
  text-align: center;
}

.frontpage-login {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 60px;
}

.frontpage-login div {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-gap: 50px;
  margin-top: 30px;
  max-width: 100%;
}

#frontpage-email {
  /* I'm not entirely happy with this element, but I can't quite figure out how to resize the input element without pushing it and 
     the submit buttons out of position..
     In the original design the element is much wider and nicer looking, but I've gone with the safe choice for now */

  font-family: "open sans", sans-serif;
  font-size: 1rem;
  text-align: left;
  width: 200px;
}

#frontpage-info {
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
  margin-bottom: 50px;
}

#frontpage-intro {
  max-width: 100%;
  font-size: 1.2rem;
  justify-self: center;
}

#frontpage-intro a {
  margin-top: 10px;
  float: right;
}

@media (min-width: 768px) {
  .frontpage-header {
    margin-top: 0px;
    padding-top: 0px;
  }

  #frontpage-logo {
    max-width: 80%;
  }

  .frontpage-login {
    grid-template-columns: auto auto;
    grid-gap: 30px;
    align-items: baseline;
    margin-top: 30px;
  }

  .frontpage-login div {
    align-items: center;
    grid-gap: 20px;
    margin-top: 0px;
  }

  #frontpage-intro {
    max-width: 42%;
  }
}

@media (min-width: 1024px) {
  #frontpage-info {
    /* When presented vertically I prefer to have the movie posters first, but side by side I like the text and cta on the left. */
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
}

/* -------  MAIN PAGE STYLES  ------- */

#mainpage-main {
  max-width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.featured-content-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.featured-content-section:nth-child(odd) {
  background: var(--color-secondary-background);
}

.feature-presentation {
  display: flex;
  flex-direction: column;
}

.calls {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-gap: 10px;
}

.featured-content-section h2 {
  margin-bottom: 10px;
}

.feature-content-section p {
  max-width: 80%;
}

.content-section-image {
  max-width: 80%;
  padding: 0;
}

@media (min-width: 768px) {
  .featured-content-section {
    flex-direction: row;
    max-width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    grid-gap: 20px;
  }

  .featured-content-section:nth-child(even) {
    flex-direction: row-reverse;
  }

  .featured-content-section:nth-child(even) .feature-presentation {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  .feature-presentation {
    flex-direction: row;
    max-width: 50%;
    align-items: center;
  }

  .present-text {
    max-width: 70%;
  }

  .calls {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .featured-content-section {
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .calls {
    grid-gap: 20px;
    float: right;
  }
}
