:root {
  --font-body: "Open Sans", sans-serif;
  --font-main-heading: "futura condensed extrabold", sans-serif;
  --font-heading-secondary: "Futura Medium Italic", sans-serif;
}

/* -------  FONT IMPORTS  ------- */

@font-face {
  /* I've extracted these font files from a ttc pre-installed on my laptop. I only have a desktop licence to use Futura so I would need to find an alternative
       if this site were intended for anything other than school use. Or pay up. */

  font-family: "Futura";
  src: url("./fonts/futura-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Futura medium italic";
  src: url("./fonts/Futura-MediumItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Futura Condensed ExtraBold";
  src: url("./fonts/Futura-CondensedExtraBold.ttf") format("truetype");
  font-weight: bold;
}

/* -------  TAGS  ------- */

body {
  font-family: var(--font-body);
  font-size: 1rem;
}

a {
  font-family: "Futura Medium Italic", sans-serif;
  font-size: 1.15rem;
  color: var(--color-links);
  text-decoration: underline;
  transition: 500ms;
}

h1 {
  font-family: var(--font-main-heading);
  font-size: 2rem;
  margin-bottom: 10px;
}

h2 {
  font-family: var(--font-main-heading);
  font-size: 1.8rem;
  margin-bottom: 10px;
}

h3 {
  font-family: "Futura Medium Italic";
  font-size: 1.4rem;
}

p {
  font-family: var(--font-body);
  font-size: 1rem;
  margin-bottom: 15px;
}

/* -------  IDS  ------- */

/* -------  FILM PAGE  ------- */

#fact-box-title {
  font-family: var(--font-main-heading);
  font-size: 1.5rem;
}

#director {
  font-family: var(--font-heading-secondary);
  font-size: 1.3rem;
  color: white;
}
